@model BookEditModel

@{
    ViewData["Title"] = "Kitap Düzenle";
}


    <div class="row">
        <div class="col">
            <h1 class="display-4 border-bottom text-center pb-2">@ViewData["Title"]</h1>
        </div>
    </div>

    <div class="col">
        <div>
            <h2>Kitap Bilgileri</h2>
            <hr />
        </div>

    <div class="row">
        <div class="col">
            <div class="mb-4">
                <div asp-validation-summary="All" class="text-danger small"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-center" width="128px" height="200px">
            <img src="~/uploads/@Model.BookImageFileName" width="128px" height="200px" class="img-thumbnail" />
        </div>
       
    </div>
    
    <form method="post" asp-action="EditBook" enctype="multipart/form-data">
  
        <div class="form-group">
            <label class="form-label small">Kitap Adı<span class="badge bg-danger ms-2">zorunlu</span></label>
            <div class="input-group mb-3">
                <input name="bookname" value="@Model.BookName" type="text" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label class="form-label small">Yazar<span class="badge bg-danger ms-2">zorunlu</span></label>
            <div class="input-group mb-3">
                <input name="author" value="@Model.Author" type="text" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label class="form-label small">Türü<span class="badge bg-danger ms-2">zorunlu</span></label>
            <div class="input-group mb-3">
                <input name="booktype" value="@Model.BookType" type="text" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label class="form-label small">Özet<span class="badge bg-danger ms-2">zorunlu</span></label>
            <div class="input-group mb-3">
                <input name="booksubject" value="@Model.BookSubject" type="text" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label class="form-label small">Stok<span class="badge bg-danger ms-2">zorunlu</span></label>
            <div class="input-group mb-3">
                <input name="stock" value="@Model.Stock" type="number" class="form-control" />
            </div>
        </div>
        

        <input type="hidden" asp-for="@Model.BookId" />

        <button class="btn btn-secondary" type="submit"><i class="fa-solid fa-floppy-disk me-2"></i>Kaydet</button>

    </form>

    </div>
